# MQTT Configuration

MQTT_BROKER = "localhost"
MQTT_PORT = 1883
MQTT_TOPIC = "printguard/sensors"

# Future Cloud Endpoint
CLOUD_ENDPOINT = "http://localhost:5000/api/readings"

# Fog Settings
BATCH_SIZE = 10
RETRY_INTERVAL = 5